*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    direction: rtl;
    background-image: url(https://www.monginisbakery.com/images/banner/a0f0b677-541c-42b4-8e6b-9d8549c74b48.png);
    background-repeat: repeat;
    background-size: contain;
    font-family: system-ui;
}
main{
    min-height: 600px;
}
h1,h2,h3,h6{
    color: #6F3C2E
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}
a:hover{
    color: #eac457
}
.logo{
    width: 100px;
}
nav{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 210px;
}
.ul-nav{
    display: flex;
    flex-direction: row;
    gap: 20px
}
.menu-mob{
    display: none;
}
.nav-icons img{
    margin-left: 10px;
    width: 30px;
    transition: 0.2s ease;
    border: 1px transparent solid;
    border-radius:50%;
}
.nav-icons img:hover{
    transform: scale(1.2);
    box-shadow: -1px 1px 2px;
}
.path{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.logo{
    width: 90px;
    height: fit-content;
}
/* /////////////////////////////////////////////////////////////////////(Table) */
#favoritesTableWrapper{
    display: flex !important; 
    justify-content: center;
    align-items: center;
}
table {
    border-radius: 5px;
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
}
#favoritesBody{
    border-bottom: 1px solid #6F3C2E;
}
th {
    background-color: rgba(250, 235, 215, 0.488);
    color: black;
    padding: 10px;
}

td {
    padding: 12px;
    text-align: center;
}
/*///////////////////////////////////////////////////////////////////////////(الشراء buy)(remove إزالة) */
.btn-remove, .btn-buy {
    background-color: rgba(202, 188, 137, 0.1);
    color: rgb(4, 2, 2);
    padding: 6px 12px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-remove:hover {
    background-color: #a91100;
    color: white;
}

.btn-buy:hover {
    background-color: #6F3C2E;
    color: white;
}

.rating {
    font-size: 20px;
}

.star {
    color: #c79515;
    cursor: pointer;
}
#emptyMsg {
    text-align: center;
    margin-top: 40px;
    color: #010101;
}
/* //////////////////////////////////////////footer//////////////////////////////////// */
footer
{
    background: rgba(250, 235, 215, 0.526);
    padding: 40px 0px 0px;
    margin-top: 30px;
}
footer .ftbigdiv1
{
    display: grid;
    grid-template-columns: repeat(3, 423px);
    align-content: center;
    padding: 0px 210px 15px;
}
footer .ftbigdiv1 h2{
    padding-bottom: 15px;
    font-size: 20px;
}
footer .ftbigdiv1 h3{
    padding:10px 0px;
}
footer .ftbigdiv1 p{
    width: 250px;
}
footer .ftbigdiv1 .ul-comp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .ftbigdiv1 .ul-media{
    display: flex;
    flex-direction:row;
    gap: 10px;
}

footer .ftbigdiv1 .ul-media img{
    margin-left: 10px;
    width: 30px;
    transition: 0.2s ease;
    border: 1px transparent solid;
    border-radius:50%;
}
footer .ftbigdiv1 .ul-media img:hover{
    transform: scale(1.2);
    box-shadow: -1px 1px 2px black;
}
footer .ftbigdiv2
{
    display: flex;
    padding: 20px 210px;
    justify-content: space-between;
}
footer .ftbigdiv2 p
{
    width: 325px;
}
footer .ftbigdiv2 div span{
    color: #6F3C2E;
    font-weight: bold;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
@media (min-width:1200px) {
    .navbar{
        display: none;
    }
    }
    /* Medium Screens */
    @media(min-width:992px) {
    
    }
    /* Small Screens */
    @media (min-width:768px) and (max-width:991px) {
    
    }
    /* Mobile */
    @media (max-width:767px) {
        header nav .logo{
            justify-self: center;
        }
        nav{
            padding: 0;
            display: grid;
            grid: space-around;
            grid-template-columns: repeat(3, 128px);
        }
        .ul-nav{
            display: none;
        }
        .navbar {
            padding:0;
            position: relative;
          }
          
          .menu-btn {
            border: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
            background-color: transparent;
          }
          .menu-btn img{
            position: relative;
          }
    
          .popup-menu {
            display: none;
            position: absolute;
            top: 50px;
            left: 10px;
            background-color: #222;
            padding: 15px;
            border-radius: 5px;
            z-index: 1000;
          }
          
          .popup-menu a {
            display: block;
            color: white;
            padding: 8px 0;
            text-decoration: none;
          }
          
          .popup-menu a:hover {
            color:#eac457;
          }
          
          .close-btn {
            background-color: red;
            color: white;
            border: none;
            margin-top: 10px;
            padding: 5px 10px;
            cursor: pointer;
            
       }
       #popupMenu.popup-menu{
        display: block;
        width: 110px;
        background-color: rgb(250 235 215 / 88%);
        position: absolute;
        right: 0px;
       }
       #popupMenu.popup-menu ul li a{
        color: black;
        transition: 0.2s ease;
       }
       #popupMenu.popup-menu ul li a:hover{
        color: #eac457;
       }
       footer .ftbigdiv1{
        padding: 30px;
        display: flex;
        flex-direction: column;
       }
       footer .ftbigdiv2{
        padding: 0;
        display: block;
        text-align: center;
       }
       footer .ftbigdiv2 p
    {
        margin: 0 auto;
        width: 325px;
    }
       footer .ftbigdiv2 div{
        padding: 15px;
       }
       .comp{
        display: none;
       }
    }
    
